* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden; 
}

canvas {
    background-color: black;
    background-image: url(../img/universe.jpg);
}

details {
    position: absolute;
    top: 25px;
    left: 25px;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    color: #fff;
    padding: 1em;
}

summary {
    all: unset;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: .5em 1em;
}

#infosContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    background-color: #062638a6;
    margin-top: 1em;
    padding: 1em;

    max-height: 300px;
    overflow-y: scroll;
}

.infoSatelite {
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
    border-left: 5px solid #f00;
    background-color: #0e5985a6;
    border-radius: 5px;
}

#atirarContainer {
    position: absolute;
    left: 25px;
    bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5em;

    text-align: center;
    background-color: #fff;
    padding: .5em;
    border-radius: 5px;
}

#atirarContainer input{
    width: 50px;
}

#atirarContainer button{
    border: none;
    color: #fff;
    background-color: #b81010;
    border-radius: 2px;
    font-weight: bold;
}